/* PC 768px - 1023px */
@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }
}

/* BIG TABLETS, OLD PC 768px - 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 17px;
  }

  section {
    padding: 60px 0;
  }

  .long-copy {
    width: 90%;
    margin-left: 5%;
  }

  .steps-box:last-child {
    margin-top: 30px;
  }

  .btn-app img {
    height: 40px;
  }

  .works-step {
    margin-bottom: 30px;
  }

  .works-step:last-of-type {
    margin-bottom: 65px;
  }

  .app-screen {
    width: 50%;
  }

  .icon-small {
    width: 20px;
    margin-right: 5px;
  }

  .city-image {
    height: 110px;
  }

  .city-feature {
    font-size: 80%;
  }

  .plan-box {
    width: 100%;
    margin-left: 3%;
  }

   .plan-box h3 {
     margin-bottom: 8%;
   }

   .plan-box ul {
     font-size: 90%;
   }

  .plan-price {
    font-size: 250%;
  }

  .contact-form {
    width: 80%;
  }

  .footer-nav {
    font-size: 95%;
    width: 100%;
  }

  .social-links {
    font-size: 95%;
  }

  .footer-nav li {
    margin-right: 10px;
  }
}

/* SMALL TABLETS 481px - 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 15px;
  }

  section {
    padding: 30px 0;
  }

  .row,
  .hero-text-box { 
    padding: 0 4%;
  }

  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }

  .logo {
    height: 60px;
  }

  .main-nav {
    font-size: 80%;
    margin-top: 40px;
  }

  .main-nav li {
    margin-left: 10px;
  }

  .box h3 {
    margin-bottom: 5%;
  }

  .steps-box:first-child {
    text-align: center;
    padding-right: 0%;
  }

  .works-step div {
    width: 47px;
    height: 47px;
  }

  .works-step:last-of-type {
    margin-bottom: 50px;
  }

  .city-image {
    width: 90%;
    height: auto;
  }

  .box h3 {
    font-size: 150%;
  }

  .city-feature {
    font-size: 130%;
    text-align: center;
  }

  .plan-box {
    margin-left: 0;
  }

  .contact-form {
    width: 95%;
  }

  .footer-nav {
    text-align: center;
  }

  .social-links {
    float: left;
    width: 100%;
    text-align: center;
  }

  footer p {
    margin-top: 20px;
  }
}

/* MOBILE DEVICES 0 - 480px */
@media only screen and (max-width: 480px) {

}